.MenuHeader {
    /* justify-content: center; */
    align-items: center;
    display: grid;
    grid-template-columns: 50px auto 50px;
}

.MenuHeader {
    background-color: rgb(255, 255, 255);
    margin: 5px;
    margin-top: 7px;
    margin-bottom: 0px;
    height: 38px;
}

.MenuHeaderBack {
    margin-top: -2px;
}

.MenuHeaderSort {
    margin-top: -2px;
}